* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    background: linear-gradient(to right, #2d0b00, #00093c);
    position: absolute;
    color: #fff;
    font-size: 16px;
    padding: 15px 10px;
    /* border-bottom-right-radius: 100px; */
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    /* border-top-left-radius: 100px; */
}

.row_header {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
}

.col_header {
    flex-basis: auto;
}


.logo_header {
    width: 150px;
    margin-right: 25px;
    cursor: pointer;
}

ul li {
    list-style: none;

}

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.menu_header li {
    display: inline-block;
    padding: 0 20px;

}

.contact_headder {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 600px;
}









footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0 10px;
    border-top-left-radius: 90px;

}



.row_footer {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}



.col_footer {
    flex-basis: 25%;
    padding: 10px;

}


.logo_footer {
    /* width: 50px; */
    height: 50px;
    cursor: pointer;
}

.col_footer .h3_footer {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    cursor: pointer;
    padding-bottom: 2px;
}





.li_footer {
    padding-bottom: 10px;

}

.a_footer {
    font-size: 16px;
}

.form_footer {
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}


.email_ico_footer {
    width: 30px;
    margin-right: 10px;
}

.form_footer .input_footer {
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
    color: #ccc;
}

.form_footer .button_submit_footer {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.form_footer .button_submit_footer .right_arrow_footer {
    width: 25px;
}




.social_icons_footer {
    width: 40px;
}


.social_icons .social_icons_footer {
    margin-right: 10px;
}

.a_social_icon_footer {
    text-decoration: none;
}

.a_social_icon_footer :hover {
    transform: scale(1.1);
    z-index: 2;
}





hr {
    width: 90%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #ccc
}

.copyright {
    text-align: center;
    padding-top: 10px;
}


.underline_footer {
    width: 100%;
    height: 5px;
    background: #767676;
    position: absolute;
    top: 25px;
    left: 0;
    border-radius: 3px;
    overflow: hidden;
}

.underline_footer span {
    width: 15px;
    height: 100%;
    position: absolute;
    background: #fff;
    border-radius: 3px;

    animation: moving 2s linear infinite;

}


@keyframes moving {
    0% {
        left: -20px
    }

    100% {
        left: 100%
    }
}